In [1]:
import pandas as pd

In [2]:
df4 = pd.read_csv("bse_dataset4.csv")
df4

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [3]:
df4.shape

(169, 15)

In [4]:
df4.columns

Index(['Timestamp', 'gender', 'Age', 'emotion', 'YOB', 'CGPA',
       'Do you have a Girl Friend or BOY Friend', 'Do you have Depression?',
       'Do you have Anxiety?', 'Do you have Panic attack?',
       'Did you have seek any specialist for a treatment? ', 'Duration',
       'Pulse', 'Maxpulse', 'Calories'],
      dtype='object')

In [41]:
#checking the datatype of each column
df4.dtypes

Timestamp                                              object
gender                                                 object
Age                                                   float64
emotion                                                object
YOB                                                    object
CGPA                                                   object
Do you have a Girl Friend or BOY Friend                object
Do you have Depression?                                object
Do you have Anxiety?                                   object
Do you have Panic attack?                              object
Did you have seek any specialist for a treatment?      object
Duration                                                int64
Pulse                                                   int64
Maxpulse                                                int64
Calories                                              float64
dtype: object

In [42]:
#checking for unique values of each column
df4.nunique()

Timestamp                                              93
gender                                                 10
Age                                                    14
emotion                                                52
YOB                                                    19
CGPA                                                   63
Do you have a Girl Friend or BOY Friend                14
Do you have Depression?                                13
Do you have Anxiety?                                   18
Do you have Panic attack?                              13
Did you have seek any specialist for a treatment?       9
Duration                                               16
Pulse                                                  47
Maxpulse                                               57
Calories                                              141
dtype: int64

In [112]:
#Taking random samples from the dataset
df4.sample(10)

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
40,05/07/2023 09:40:42,Female,20.0,Tired,2002,1.3,No,No,No,Yes,No,45,90,112,180.1
61,05/07/2023 09:41:40,Male,21.0,Sad,2002,4.46,No,Probably,Sometimes,No,No,160,110,137,1034.4
47,05/07/2023 09:41:05,Female,22.0,Anger,2001,4.1,Am a girl,No,Yes,No,No,45,111,136,300.0
92,05/07/2023 09:53:56,Female,68.0,Sad,1953,4.8,No,Yes,Yes,Yes,Yes,30,90,107,105.3
117,05/07/2023 09:40:16,FEMALE,19.0,HAPPY,2004,2.1,YES,MAYBE,YES,NO,NO,60,97,122,277.4
162,05/07/2023 09:43:36,male,21.0,stressed,2002,4.4,yes,no,yes,no,no,45,95,130,270.0
103,05/07/2023 09:39:49,female,21.0,irritated,2001,3.88,no,no,no,yes,yes,90,90,100,500.4
120,05/07/2023 09:40:27,male,20.0,calm,2002,3.7,yes,no,no,no,no,30,112,137,193.9
41,05/07/2023 09:40:46,male,21.0,happy,2001,4.65,no,yes,yes,no,no,60,98,126,286.0
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1

In [54]:
#Converting age to float
#df4.Age.astype(float)

In [24]:
#checking for numerical fields
df4.select_dtypes(include=["number"]).columns.tolist()

['Age', 'Duration', 'Pulse', 'Maxpulse', 'Calories']

In [28]:
#quick static report for numerical data
df4.describe()

              Age    Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000  169.000000   164.000000
mean    22.497006   63.846154  107.449704  134.071006   375.901829
std      4.921859   42.299949   14.517195   16.432971   266.331026
min     19.000000   15.000000   80.000000  100.000000    50.300000
25%     21.000000   45.000000  100.000000  124.000000   252.725000
50%     21.000000   60.000000  105.000000  131.000000   318.600000
75%     22.000000   60.000000  111.000000  141.000000   387.600000
max     68.000000  300.000000  159.000000  184.000000  1860.400000

In [26]:
#checking for categorical fields
df4.select_dtypes(include=["object"]).columns.tolist()

['Timestamp',
 'gender',
 'emotion',
 'YOB',
 'CGPA',
 'Do you have a Girl Friend or BOY Friend',
 'Do you have Depression?',
 'Do you have Anxiety?',
 'Do you have Panic attack?',
 'Did you have seek any specialist for a treatment? ']

In [51]:
#checking correlation with respect to a specific target such as how other field varry with CGPA
#df4.corr()["CGPA"]

In [62]:
#droping duplicates in a particular column
#df4.drop_duplictes(subset=["Age"])

# Outliers using quartiles

In [102]:
lower_limit = df4["Age"].quantile(0.05) #5%
lower_limit

20.0

In [101]:
upper_limit = df4["Age"].quantile(0.95) #95%
upper_limit

28.0

In [121]:
#Displaying records below lower limit
df4[df4["Age"]<lower_limit]

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
20,05/07/2023 09:39:54,FEMALE,19.0,HAPPY,2004,2.1,YES,MAYBE,YES,NO,NO,60,108,131,364.2
49,05/07/2023 09:41:07,Male,19.0,angry,2004,2.5,no,none,none,none,yes,60,111,139,397.6
117,05/07/2023 09:40:16,FEMALE,19.0,HAPPY,2004,2.1,YES,MAYBE,YES,NO,NO,60,97,122,277.4
149,05/07/2023 09:41:47,FEMALE,19.0,HAPPY,2004,2.1,YES,MAYBE,YES,NO,NO,60,110,150,409.4

In [122]:
#Displaying records above uppper limit
df4[df4["Age"]>upper_limit]

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
48,05/07/2023 09:41:06,Male,50.0,Sad,1970,5,No,Jo,No,Yes,No,45,108,129,298.0
67,05/07/2023 09:41:58,Male,30.0,Sad,18/11/1993,2.5,yes,no,yes,no,yes,150,107,130,816.0
92,05/07/2023 09:53:56,Female,68.0,Sad,1953,4.8,No,Yes,Yes,Yes,Yes,30,90,107,105.3
93,05/07/2023 09:54:13,Male,29.0,Hopeful,1994,I don't know yet,"Sure, multiple girlfriends",No,No,No,No,15,80,100,50.5
96,05/07/2023 09:54:52,male,30.0,hunger,2023,5,ARI,no,yeah,nah,yeah,30,95,128,128.2
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope,25,152,168,244.2

In [151]:
#EXcluding outliers#Displaying records below lower limit

df4_without_outliers = df4[(df4["Age"]>lower_limit) & (df4["Age"]< upper_limit)]
df4_without_outliers

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
5,NaN,Female,23.0,Happy,2000,3.8,No,No,No,No,No,60,102,127,300.0
6,05/07/2023 09:39:21,female,21.0,irritated,2001,3.88,no,no,no,yes,yes,60,110,136,374.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,05/07/2023 09:43:36,male,21.0,stressed,2002,4.4,yes,no,yes,no,no,45,95,130,270.0
163,05/07/2023 09:43:56,Male,21.0,Relaxed,2001,4.5,No,No,No,No,No,45,100,140,280.9
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4

# Loc

In [155]:
#loc
#df4.loc[3,"Age"] = 25
# for age at row 3 in age column replace it with 25

In [159]:
#for x in df4.index:
#    if df4.loc[x,"Age"] == 21:
#        df4.loc[x,"Age"] = 5
#df4
#For every age that is equivalent to 21 , change it to 5

# NULLS

In [17]:
df4.isnull().sum()

Timestamp                                             1
gender                                                0
Age                                                   0
emotion                                               1
YOB                                                   0
CGPA                                                  0
Do you have a Girl Friend or BOY Friend               0
Do you have Depression?                               0
Do you have Anxiety?                                  0
Do you have Panic attack?                             0
Did you have seek any specialist for a treatment?     0
Duration                                              0
Pulse                                                 0
Maxpulse                                              0
Calories                                              5
dtype: int64

In [5]:
df4_new = df4.fillna(method ="ffill")
df4_new

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [6]:
df4_new["Calories"]

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [7]:
#replacing nulls in age with general mean
m = df4["Age"].mean()
print(m)
df5 = df4["Age"].fillna(m,inplace = True)
df4

22.49700598802395

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [8]:
#Filling using median
med = df4["Age"].median()
print(med)
df4["Age"].fillna(med,inplace = True)
df4

21.0

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [9]:
#Use mode for Age nulls
mod = df4["Age"].mode()
print(mod)
df4["Age"].fillna(mod,inplace = True)
df4

0    21.0
Name: Age, dtype: float64

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

# WRONG FORMATS

In [10]:
#Data that has a wrong type in reference to the other data in the given column

# WRONG DATA

In [11]:
#Majory data out of normalo fÃ¸ow or outlier

# DUPLICATES